<div class= "container">
  <div class= "row">
    <div class= "col-2 md-3 mt-5 offset-2">
      <div class= "col-md-2 mt-5">
      <% render 'public/shared/game_sidebar', game_genres: @game_genres %>
      </div>
      <div class= "col-9 md-9 my-5 offset-1">
        <div class= "game_image" style="margin-bottom:40px;">
        <%#= image_tag @item.get_image(300, 300) %>
        </div>
        <div class= "game_comment" style="margin-bottom:20px;">
          <h3><b><%= @game_comment.title %></b></h3>
          <br>
          <h5><%= simple_format(@game_comment.body) %></h5>
          <br>
          <h5><%= @game_comment.rate %></h5>
        </div>
        <div>
            <%= link_to "削除する", game_comment_path(@game_comment.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_game_comment_#{@game_comment.id}" %>
      </div>
    </div>
  </div>
</div>