<div class="row mt-3">
    <h5 class="col-2">コメントいいね一覧</h5>
    <div class="col-2">
      <h5>ゲームコメントいいね</h5>
      <div>
        <%@user.game_comments.each do |game_comment| %>
          <%= link_to  game_comment,game_comment_path(game_comment),  class: "btn btn-sm btn-primary px-4" %>
        <% end %>
      </div>
    </div>
      <br>
    <div class="col-2">
      <h5>デバイスコメントいいね</h5>
      <div>
        <% @user.device_comments.each do |device_comment| %>
          <p><%= device_comment.title %></p>
          <p><%= device_comment.body %></p>
          <%= link_to  device_comment,device_comment_path(device_comment),  class: "btn btn-sm btn-primary px-4" %>
        <% end %>
      </div>
    </div>
</div>