<div class= "container">
  <div class="row mt-5">
    <div class="order-text col-md-12 px-sm-0" style="margin-bottom:15px;">
      <h4><b>投稿いいね一覧</b></h4>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row mb-3">
      <div class="col-md-12 px-sm-0">
        <table class="table table-bordered">
          <th>ゲーム投稿いいね</th>
          <td>
            <div class="row">
            <% @user.game_goods.each do |game_good| %>
              <div class="col-auto m-1">
              <%= link_to game_good.game.game_name, game_path(game_good.game),  class: "btn btn-sm btn-primary px-4" %>
              </div>
            <% end %>
            </div>
          </td>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row mb-3">
      <div class="col-md-12 px-sm-0">
        <table class="table table-bordered">
          <th>デバイス投稿いいね</th>
          <td>
            <div class="row">
            <% @user.device_goods.each do |device_good| %>
              <div class="col-auto m-1">
                <%= link_to device_good.device.device_name, device_path(device_good.device),  class: "btn btn-sm btn-primary px-4" %>
              </div>
            <% end %>
            </div>
          </td>
        </table>
      </div>
    </div>
  </div>
</div>