<div class="row mt-4">
    <h3 class="col-2">投稿いいね一覧</h3>
    <div class="col-2">
      <h5>ゲーム投稿いいね</h5>
      <div>
        <% @user.game_goods.each do |game_good| %>
          <%= link_to game_good.game.game_name, game_path(game_good.game),  class: "btn btn-sm btn-primary px-4" %>
        <% end %>
      </div>
    </div>
      <br>
    <div class="col-2">
      <h5>デバイス投稿いいね</h5>
      <div>
        <% @user.device_goods.each do |device_good| %>
          <%= link_to device_good.device.device_name, device_path(device_good.device),  class: "btn btn-sm btn-primary px-4" %>
        <% end %>
      </div>
    </div>
</div>