<footer class="border-top" style="background-color: #003366;",>
  <div class="container mt-3">
    <div class="row">
      <div class="mx-auto text-light">
        <b>--Enjoy GAME生活--</b>
        <br>
        <br>
      </div>
    </div>
  </div>
</footer>