<footer class="border-top" style="padding:10px;">
  <div class="container mt-3">
    <div class="row">
      <div class="mx-auto">
        <%# image_tag 'DbD-cake.png', :size => '80x80' %><br>
        <i class="fas fa-birthday-cake"></i>
        <b>-Enjoy GAME生活-</b>
        <i class="fas fa-birthday-cake"></i>
      </div>
    </div>
  </div>
</footer>